@using Magenic.BadgeApplication.Models
@using Magenic.BadgeApplication.Resources
@using Magenic.BadgeApplication.Extensions
@using Magenic.BadgeApplication.Common.Interfaces
@model ILeaderboardItem

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="@Url.Action(Mvc.Image.ProfilePhoto("Large", Model.EmployeeADName))" alt="image.png" title="@Model.EmployeeADName" /><br />
            <b>@Model.FullName</b><br />
            @Model.EmployeeDepartment<br />
            @Model.EmployeeLocation<br /><br />
            @Html.ActionLink(ApplicationResources.CompareLink, Mvc.Leaderboard.Compare(Model.EmployeeADName), new { @class = "btn btn-magenic" })
        </div>
        <div class="col-md-8">
            @if (Model.ProfileEarnedCorporateBadges.Count() > 0)
            {
                <div class="row">
                    <h2>@ApplicationResources.CorporateBadgeHeader</h2>
                    @foreach (var earnedBadge in Model.ProfileEarnedCorporateBadges.OrderBy(ebi => ebi.BadgePriority))
                    {
                        <div class="grayBox">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.DisplayFor(m => earnedBadge)
                                </div>
                                <div class="col-md-8">
                                    @earnedBadge.Description
                                </div>
                            </div>
                            <div class="row">
                                &nbsp;
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    @earnedBadge.Name - @earnedBadge.Tagline
                                </div>
                                <div class="col-md-4 text-right">
                                    @earnedBadge.AwardDate.ToString("MM/dd/yyyy")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            &nbsp;
                        </div>
                    }
                </div>
            }

            @if (Model.ProfileEarnedCommunityBadges.Count() > 0)
            {
                <div class="row">
                    <h2>@ApplicationResources.CommunityBadgeHeader</h2>
                    @foreach (var earnedBadge in Model.ProfileEarnedCommunityBadges.OrderBy(ebi => ebi.BadgePriority))
                    {
                        <div class="grayBox">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.DisplayFor(m => earnedBadge)
                                </div>
                                <div class="col-md-8">
                                    @earnedBadge.Description
                                </div>
                            </div>
                            <div class="row">
                                &nbsp;
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    @earnedBadge.Name - @earnedBadge.Tagline
                                </div>
                                <div class="col-md-4 text-right">
                                    @earnedBadge.AwardDate.ToString("MM/dd/yyyy")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            &nbsp;
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>