@using Magenic.BadgeApplication.Resources
@using Magenic.BadgeApplication.Models
@using Magenic.BadgeApplication.Common.Interfaces

@model IPointsReportCollection

<style>
html {overflow-y: scroll;}
</style>



<div class="container">
    <div class="row">
        @Html.Partial("_AdminNavbar")

    </div>
    <div class="row">
        <div class="col-md-12 grayBox">
                <div class="row">
                    <div class="col-md-10">
                        <h2>@ApplicationResources.PointsReportHeader</h2>
                    </div>

                    <div class="col-md-2 pull-right">
                        <i class="glyphicon glyphicon-download"></i>
                        @Html.ActionLink(ApplicationResources.PointsReportExport, Mvc.PointsReport.Export())
                    
                        <div class="checkbox-inline">
                            <label>
                                @Html.CheckBox( "displayAll" ,new { onclick="PointsReport();" }) Display All
                            </label>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        @ApplicationResources.PointsReportDescription
                    </div>
                </div>

                <div class="row">
                    &nbsp;
                </div>
               
                @Html.Partial("ListPayouts", Model)

        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var UrlSettings = {
            ApproveActivitiesUrl : '@Url.Action("ListPayouts", "PointsReport")'
        }
    </script>
}

@Scripts.Render("~/bundles/badgeManager")