@using Magenic.BadgeApplication.Resources
@using Magenic.BadgeApplication.Models
@using Magenic.BadgeApplication.Common.Interfaces
@model IPointsReportCollection

<div class="container">
    <div class="row">
        @Html.Partial("_AdminNavbar")
    </div>
    <div class="row">
        <div class="col-md-12 grayBox">
            <div class="row">
                <div class="col-md-10">
                    <h2>@ApplicationResources.PointsReportHeader</h2>
                </div>

                <div class="col-md-2 pull-right">
                    <i class="glyphicon glyphicon-download"></i>
                    @Html.ActionLink(ApplicationResources.PointsReportExport, Mvc.PointsReport.Export())
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    @ApplicationResources.PointsReportDescription
                </div>
            </div>

            <div class="row">
                &nbsp;
            </div>

            <div class="row">
                <div class="col-md-12">
                    @Html.EditorFor(m => m)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/badgeManager")
}