@using Magenic.BadgeApplication.BusinessLogic.PointsReport

@model BadgeAwardEdit
@Html.HiddenFor(bae => bae.Id)
@Html.HiddenFor(bae => bae.EmployeeADName)
<tr>
    <td>
        @Model.BadgeName
    </td>
    <td>
        @Model.AwardDate.ToShortDateString()
    </td>
    <td>
        @Html.DropDownListFor(bae => bae.AwardAmount, new SelectList(new List<int>() { 0, 100, 150, 200, 250, 300, 500, 750, 1000, 2500, 5000 }), Model.AwardAmount)
    </td>
</tr>