@using Magenic.BadgeApplication.Resources
@using Magenic.BadgeApplication.Common.Interfaces
@using Magenic.BadgeApplication.Common.Enums
@model IBadgeEdit

<div class="row">
    <div class="col-md-12">
        @ApplicationResources.BadgeEditDescription
    </div>
    <br />
</div>

<div class="row">
    <div class="col-md-5">
        <div class="editor-label">
            @Html.LabelFor(be => be.Name, ApplicationResources.BadgeNameLabel)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(be => be.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(be => be.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(be => be.Tagline, ApplicationResources.BadgeTaglineLabel)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(be => be.Tagline, new { @class = "form-control" })
            @Html.ValidationMessageFor(be => be.Tagline)
        </div>

        <div class="editor-label">
            @Html.LabelFor(be => be.Description, ApplicationResources.BadgeDescriptionLabel)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(be => be.Description, new { @class = "form-control", rows = "6", cols = "10" })
            @Html.ValidationMessageFor(be => be.Description)
        </div>

        <label>@ApplicationResources.BadgeTypeLabel</label><br />
        <label>
            @Html.RadioButtonFor(be => be.Type, BadgeType.Corporate)
            @ApplicationResources.BadgeCorporateLabel
        </label>
        &nbsp;&nbsp;
        <label>
            @Html.RadioButtonFor(be => be.Type, BadgeType.Corporate)
            @ApplicationResources.BadgeCommunityLabel
        </label>
    </div>

    <div class="col-md-5">
        <div class="editor-label">
            @Html.LabelFor(be => be.ImagePath, ApplicationResources.BadgeNameLabel)
        </div>
        <div class="editor-field">
            <input type="file" class="filestyle" data-classbutton="btn btn-primary" data-classinput="form-control pull-left">
            @Html.ValidationMessageFor(be => be.ImagePath)
        </div>
        <div class="pull-left">
            <div class="editor-label">
                @Html.LabelFor(be => be.EffectiveStartDate, ApplicationResources.BadgeStartDateLabel)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(be => be.EffectiveStartDate, new { @class = "form-control datepicker" })
                @Html.ValidationMessageFor(be => be.EffectiveStartDate)
            </div>
        </div>
        <div class="pull-left">
            <div class="editor-label">
                @Html.LabelFor(be => be.EffectiveEndDate, ApplicationResources.BadgeEndDateLabel)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(be => be.EffectiveEndDate, new { @class = "form-control datepicker" })
                @Html.ValidationMessageFor(be => be.EffectiveEndDate)
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="editor-label">
            @Html.LabelFor(be => be.AwardValueAmount, ApplicationResources.BadgeActivityCompletedLabel)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(be => be.AwardValueAmount, ViewData["AwardValuesPossible"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
            @Html.ValidationMessageFor(be => be.AwardValueAmount)
        </div>
        <label>
            @Html.CheckBoxFor(be => be.MultipleAwardsPossible)
            @ApplicationResources.BadgeMultipleAwardsLabel
        </label>
        <br /><br />
        <label>
            @Html.CheckBoxFor(be => be.ManagementApprovalRequired)
            @ApplicationResources.BadgeManagementApprovalRequiredLabel
        </label>
        <br /><br />
        <div class="editor-label">
            @Html.LabelFor(be => be.AwardValueAmount, ApplicationResources.BadgePointsReceievedLabel)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(be => be.AwardValueAmount, new { @class = "form-control" })
            @Html.ValidationMessageFor(be => be.AwardValueAmount)
        </div>
        <div class="editor-label">
            @Html.LabelFor(be => be.Priority, ApplicationResources.BadgePriorityLabel)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(be => be.Priority, new { @class = "form-control" })
            @Html.ValidationMessageFor(be => be.Priority)
        </div>
    </div>
</div>

<div class="row">
    &nbsp;
</div>

<div class="row">
    <div class="col-md-12">
        <input type="submit" class="btn btn-success" value="@ApplicationResources.SubmitButton" />
    </div>
</div>
