@using Magenic.BadgeApplication.Models
@using Magenic.BadgeApplication.BusinessLogic.PointsReport

@model BadgeAwardEdit
@Html.HiddenFor(bae => bae.Id)
@Html.HiddenFor(bae => bae.EmployeeADName)
<tr>
    <td>
        @Model.BadgeName
    </td>
    <td>
        @Model.AwardDate.ToShortDateString()
    </td>
    <td>
        @Html.TextBoxFor(bae => bae.AwardAmount, Model.AwardAmount)
    </td>
</tr>