@using Magenic.BadgeApplication.Resources
@using Magenic.BadgeApplication.Models
@model LogOnViewModel

@using (Html.BeginForm(Mvc.Account.ActionNames.LogOn))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(lovm => lovm.UserName)
        @Html.TextBoxFor(lovm => lovm.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(lovm => lovm.UserName)
    </div>
    <div class="form-group">
        @Html.LabelFor(lovm => lovm.Password)
        @Html.PasswordFor(lovm => lovm.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(lovm => lovm.Password)
    </div>
    <input type="submit" value="@ApplicationResources.SubmitButton" class="btn btn-success" />
}