@using Csla.Rules
@using Csla.Web.Mvc
@using Magenic.BadgeApplication.Common.Interfaces
@using Magenic.BadgeApplication.Resources
@model IPointsReportCollection

@using (Html.BeginForm("Index", "PointsReport"))
{
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.CheckBox("SelectAll", new { onclick = "checkAllBoxes(this);" })</th>
                        <th>@ApplicationResources.PointsReportADNameHeader</th>
                        <th>@ApplicationResources.PointsReportFirstNameHeader</th>
                        <th>@ApplicationResources.PointsReportLastNameHeader</th>
                        <th>@ApplicationResources.PointsReportLocationHeader</th>
                        <th>@ApplicationResources.PointsReportPointsTotalHeader</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pointsReport in Model)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="CheckedValues" value="@pointsReport.EmployeeId" />
                            </td>
                            <td>
                                @Html.HasPermission(AuthorizationActions.GetObject, typeof())
                                @pointsReport.EmployeeADName
                            </td>
                            <td>
                                @pointsReport.EmployeeFirstName
                            </td>
                            <td>
                                @pointsReport.EmployeeLastName
                            </td>
                            <td>
                                @pointsReport.EmployeeLocation
                            </td>
                            <td>
                                @pointsReport.TotalPoints
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <input type="submit" value="@ApplicationResources.ConfirmPayoutSelectedUsers" class="btn btn-success" />
        </div>
    </div>
}