@using Magenic.BadgeApplication.BusinessLogic.Activity
@using Magenic.BadgeApplication.Resources
@using Magenic.BadgeApplication.Models
@using Magenic.BadgeApplication.Extensions
@model SubmitActivity

<h2>
    @ApplicationResources.SubmitCompletedActivityHeader
</h2>
@using (Html.BeginForm("SubmitActivityForm", "Activities", FormMethod.Post, new { @role = "form" })) {
    <div class="form-group">
        @Html.LabelFor(sa => sa.ActivityId, ApplicationResources.ActivitySubmissionTypeLabel)
        @Html.DropDownListFor(sa => sa.ActivityId, ViewData["PossibleActivities"] as IEnumerable<SelectListItem>, new { @class = "form-control", @id = "ActivityType" })
        @Html.ValidationMessageFor(sa => sa.ActivityId)
    </div>
    <div class="form-group" id="AwardSection" style="display: none;">
        @Html.LabelFor(sa => sa.AwardValue, ApplicationResources.BadgeAwardsAwardAmount)
        @Html.TextBoxFor(sa => sa.AwardValue, new { @class = "form-control", @id = "AwardAmount" })
        @Html.ValidationMessageFor(sa => sa.AwardValue)
    </div>
    <div class="form-group">
        @Html.LabelFor(sa => sa.ActivitySubmissionDate, ApplicationResources.ActivitySubmissionDateLabel)
        @Html.TextBoxFor(sa => sa.ActivitySubmissionDate, new { @class = "form-control datepicker" })
        @Html.ValidationMessageFor(sa => sa.ActivitySubmissionDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(sa => sa.Notes, ApplicationResources.ActivitySubmissionNotesLabel)
        @Html.TextAreaFor(sa => sa.Notes, new { @class = "form-control", rows = "4", cols = "10" })
        @Html.ValidationMessageFor(sa => sa.Notes)
    </div>
    <div class="form-group">
        @Html.LabelFor(sa => sa.EmployeeIds, ApplicationResources.UserIdsLabel)
        @Html.TagSelectBoxFor(sa => sa.EmployeeIds, ViewData["AvailableUsers"] as IEnumerable<SelectListItem>, ApplicationResources.InvalidPastedUserIdsLabel, (bool)ViewData["UsersEditable"])
        @Html.ValidationMessageFor(sa => sa.EmployeeIds)
    </div>
    <input type="submit" value="@ApplicationResources.SubmitButton" class="btn btn-success" />
}
@Scripts.Render("~/bundles/submitActivity")