@using Magenic.BadgeApplication.BusinessLogic.Badge
@using Magenic.BadgeApplication.BusinessLogic.Activity
@using Magenic.BadgeApplication.Extensions
@using Magenic.BadgeApplication.Resources
@model BadgeItem

@{
    var allActivities = ViewData["AllActivities"] as ActivityCollection;
    var activitiesForBadge = allActivities.Where(ai => ai.BadgeIds.Contains(Model.Id));
}

<div id="BadgeWindow-@Model.Id" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@ApplicationResources.BadgeWindowTitle</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        @Html.DisplayFor(bi => bi)
                    </div>
                    <div class="col-md-8">
                        @MvcHtmlString.Create(String.Format(ApplicationResources.BadgeTitle, String.Format("<b>{0}</b>", Model.Name)))
                    </div>
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    <div class="col-md-8">
                        @ApplicationResources.ActivitiesRequiredForBadgeLabel
                        <ul>
                            @foreach (var activity in activitiesForBadge)
                            {
                                <li>@activity.Name</li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="row">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>