<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magenic Badge Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/siteCss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("content", required: false)
</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
        @Html.Partial("_Navbar")
    </nav>

    <div class="body-content">
        <div class="container">
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-warning fade in">
                    <button class="close" aria-hidden="true" type="button" data-dismiss="alert">×</button>
                    <h4>Error(s) encoutered</h4>
                    <p>
                        @Html.ValidationSummary(false)
                    </p>
                </div>
            }
            
            @RenderBody()
        </div>
    </div>

    <footer>
        <div class="container">
            <p>&copy; Copyright @DateTime.Now.Year Magenic Technologies, All rights Reserved</p>
        </div>
    </footer>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    @RenderSection("scripts", required: false)
</body>
</html>
