@using Magenic.BadgeApplication.Extensions
@using Magenic.BadgeApplication.Resources
@using Links

<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        @Html.ImageActionLink(new Uri(Content.Images.magenic_badges_logo_png, UriKind.Relative), ApplicationResources.LogoTitle, Mvc.Badges.Index().Result)
    </div>
    <div class="navbar-collapse collapse">
        @if (Csla.ApplicationContext.User != null && Csla.ApplicationContext.User.Identity != null
            && Csla.ApplicationContext.User.Identity.AuthenticationType == "Csla" && Csla.ApplicationContext.User.Identity.IsAuthenticated)
        {
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink(ApplicationResources.BadgesLink, Mvc.Badges.Index())</li>
                <li>@Html.ActionLink(ApplicationResources.AccountLink, Mvc.Account.Index())</li>
                <li>@Html.ActionLink(ApplicationResources.LeaderboardLink, Mvc.Leaderboard.Index())</li>
                <li>@Html.ActionLink(ApplicationResources.BadgeManagerLink, Mvc.BadgeManager.Index())</li>
                <li>@Html.ActionLink(ApplicationResources.LogOffLink, Mvc.Account.LogOff())</li>
            </ul>
        }
    </div>
</div>