@using Magenic.BadgeApplication.Resources
@using Magenic.BadgeApplication.Models
@model BadgeIndexViewModel

<div class="container">
    <div class="row">
        <div class="col-md-8">
            @Html.Partial(Mvc.Badges.Views._CorporateBadgeDisplay, Model)

            <div class="row">
                &nbsp;
            </div>

            @Html.Partial(Mvc.Badges.Views._CommunityBadgeDisplay, Model)
        </div>
        <div class="col-md-4 grayBox">
            @Html.EditorFor(bivm => bivm.SubmittedActivity, new { PossibleActivities = Model.PossibleActivities, AvailableUsers = new SelectList(Model.AvailableUsers.OrderBy(ui => ui.FullName), "EmployeeId", "FullName", Model.AvailableUsers.Count == 1 ? Model.AvailableUsers[0].EmployeeId.ToString() : null), UsersEditable = Model.AvailableUsers.Count > 1 })
        </div>
        <div class="col-md-4 grayBox">
            @Html.EditorFor(bivm => bivm.SubmittedBadgeRequest, new { EmployeeName = Model.SubmittedBadgeRequest.EmployeeName, EmployeeId = Model.SubmittedBadgeRequest.EmployeeId })
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/badgePage")
}