@using Magenic.BadgeApplication.Resources
@using Magenic.BadgeApplication.Common.Interfaces
@model IApproveActivityCollection

<div class="container">
    @foreach (var activityForApproval in Model)
    {
        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <h3>
                        @activityForApproval.ActivityName
                    </h3>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a href="#" onclick="approveActivity(this, @activityForApproval.SubmissionId); return false;">
                            @ApplicationResources.ApproveActivityLink
                        </a>
                        <br />
                        <a href="#" onclick="rejectActivity(this, @activityForApproval.SubmissionId); return false;">
                            @ApplicationResources.RejectActivityLink
                        </a>
                    </div>
                    <div class="col-md-6">
                        <b>
                            Employee Name Goes Here
                        </b>
                        <br />
                        @activityForApproval.SubmissionNotes
                    </div>
                    <div class="col-md-3 col-md-offset-1 text-right">
                        <b>
                            @activityForApproval.SubmissionDate.ToString("MMMM dd, yyyy")
                        </b>
                    </div>
                </div>
                <div class="row">
                    &nbsp;
                </div>
            </div>
        </div>
    }
</div>