@using Magenic.BadgeApplication.Resources
@using Magenic.BadgeApplication.Common.Interfaces
@model IApproveActivityCollection


@foreach (var activityForApproval in Model)
{
    <div class="row no-margin">
        <div class="col-md-12">
            <div class="row">
                <h3>
                    @activityForApproval.ActivityName
                </h3>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <a href="#" onclick="approveActivity(this, @activityForApproval.SubmissionId); return false;" class="btn btn-magenic">
                        @ApplicationResources.ApproveActivityLink
                        <i class="fa fa-spinner fa-spin hide"></i>
                    </a>
                    <a href="#" onclick="rejectActivity(this, @activityForApproval.SubmissionId); return false;" class="btn btn-warning">
                        @ApplicationResources.RejectActivityLink
                        <i class="fa fa-spinner fa-spin hide"></i>
                    </a>
                </div>
                <div class="col-md-5">
                    <b>
                        @activityForApproval.EmployeeFirstName @activityForApproval.EmployeeLastName
                    </b>
                    <br />
                    @activityForApproval.SubmissionNotes
                </div>
                <div class="col-md-3 col-md-offset-1 text-right">
                    <b>
                        @activityForApproval.SubmissionDate.ToString("MMMM dd, yyyy")
                    </b>
                </div>
            </div>
            <div class="row">
                &nbsp;
            </div>
            @if (activityForApproval.ApproveActivityBadgeCollection.Count() > 0)
            {
                <div class="row">
                    <div class="col-md-8">
                        <b>
                            @MvcHtmlString.Create(String.Format(ApplicationResources.PossiblePointsTotalAwardLabel, activityForApproval.ApproveActivityBadgeCollection.Sum(aabi => aabi.AwardValueAmount)))
                        </b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.Partial(Mvc.BadgeManager.Views._PossibleBadgeList, activityForApproval.ApproveActivityBadgeCollection)
                    </div>
                </div>
            }
            <div class="row">
                &nbsp;
            </div>
        </div>
    </div>
}
