@using Magenic.BadgeApplication.Resources
@using Magenic.BadgeApplication.Models
@model ApproveActivitiesViewModel

<div class="container">
    <div class="row">
        @Html.Partial("_AdminNavbar")
    </div>
    <div class="row">
        <div class="col-md-12 grayBox">
            <div class="row">
                <div class="col-md-12">
                    <h2>@ApplicationResources.ActivitiesForApprovalHeader</h2>
                </div>
            </div>
            <div class="row">
                <div id="AdminActivitiesForm" class="col-md-10 darkGrayHeaderList">
                    @Html.Hidden("UrlToList", Url.Action(Mvc.BadgeManager.ApproveActivitiesList()))
                    @Html.Hidden("UrlToApprove", Url.Action(Mvc.BadgeManager.ApproveActivity()))
                    @Html.Hidden("UrlToReject", Url.Action(Mvc.BadgeManager.RejectActivity()))
                    <div id="activitiesForApproval">
                        @Html.Partial(Mvc.BadgeManager.Views._ActivitiesForApproval, Model.ActivitiesToApprove)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/badgeManager")
}