@using Magenic.BadgeApplication.Resources
@using Magenic.BadgeApplication.Models
@model BadgeManagerIndexViewModel

<div class="container">
    <div class="row">
        @Html.Partial("_AdminNavbar")
    </div>
    <div class="row">
        <div class="col-md-12 grayBox">
            <div class="row">
                <div class="col-md-9">
                    <h2>@Model.CorporateBadgeHeader</h2>
                    <div class="badges">
                        @Html.Partial(Mvc.BadgeManager.Views._AdminBadgeList, Model.CorporateBadges)
                    </div>
                </div>
                <div class="col-md-2">
                    @if (Model.ShowAddButton)
                    {
                        @Html.ActionLink(ApplicationResources.AddABadgeButton, Mvc.BadgeManager.AddBadge(), new { @class = "btn btn-success" })
                    }
                </div>
            </div>
            @if (Model.ShowCommunityBadges)
            {
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <h2>@ApplicationResources.CommunityBadgeHeader</h2>
                        <div class="badges">
                            @Html.Partial(Mvc.BadgeManager.Views._AdminBadgeList, Model.CommunityBadges)
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
</div>