@using Magenic.BadgeApplication.BusinessLogic.Activity
@using Magenic.BadgeApplication.Resources
@using Csla.Web.Mvc
@using Csla.Rules
@model ActivityEdit

@section content {
    @Styles.Render("~/Scripts/jtable/themes/metro/green/css")
}

@Html.Hidden("ListAction", Url.Action("List", "ManageActivities"))
@Html.Hidden("CreateAction", Url.Action("Create", "ManageActivities"))
@Html.Hidden("UpdateAction", Url.Action("Update", "ManageActivities"))
@Html.Hidden("DeleteAction", Url.Action("Delete", "ManageActivities"))
@Html.Hidden("CanEditRequiresApproval", Html.HasPermission(AuthorizationActions.WriteProperty, Model, ActivityEdit.RequiresApprovalProperty, MvcHtmlString.Create("true"), MvcHtmlString.Create("false")))

<div class="container">
    <div class="row">
        @Html.Partial("_AdminNavbar")
    </div>
    <div class="row">
        <div class="col-md-12 grayBox">
            <div class="row">
                <div class="col-md-12">
                    <h2>@ApplicationResources.ManageActivitiesHeader</h2>
                </div>
            </div>
            <div class="row">
                &nbsp;
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="ActivitiesTable"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jtable")
}