@using Magenic.BadgeApplication.BusinessLogic.Activity
@using Magenic.BadgeApplication.Resources
@using Csla.Web.Mvc
@using Csla.Rules

@section content {
    @Styles.Render("~/Scripts/jtable/themes/metro/green/css")
}

@Html.Hidden("ListAction", Url.Action("GetUserPermissions", "BadgeManager"))
@Html.Hidden("UpdateAction", Url.Action("UpdateUserPermission", "BadgeManager"))

<div class="container">
    <div class="row">
        @Html.Partial("_AdminNavbar")
    </div>
    <div class="row">
        <div class="col-md-12 grayBox">
            <div class="row">
                <div class="col-md-12">
                    <h2>@ApplicationResources.ManagePermissionsHeader</h2>
                </div>
            </div>
            <div class="row">
                &nbsp;
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="PermissonsTable"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jtable")
    <script src="~/Scripts/managePermissions.js"></script>
}