@using Magenic.BadgeApplication.Resources
@using Magenic.BadgeApplication.Models
@model ActivityIndexViewModel

<div class="col-sm-8 no-padding">
    <h1>
        @ApplicationResources.PreviousActivitiesHeader
    </h1>
</div>

<div class="clearfix"></div>
<div class="grayLine col-md-10"></div>

@foreach (var activityWithBadge in Model.PreviousActivities)
{
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <h3>
                    @activityWithBadge.SubmittedActivity.ActivityName
                </h3>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <img src="@activityWithBadge.BadgeToDisplay.ImagePath" title="@activityWithBadge.BadgeToDisplay.Name" />
                    <br />
                    <div class="pull-center">
                        <i>@activityWithBadge.SubmittedActivity.Status.ToString()</i>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="pull-right">
                        <b>
                            @activityWithBadge.SubmittedActivity.ActivitySubmissionDate.ToString("MMMM dd, yyyy")
                        </b>
                    </div>
                    <div class="clearfix">
                        &nbsp;
                    </div>
                    @activityWithBadge.SubmittedActivity.SubmissionNotes
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
}